@import "almond.lite.min.css";

footer > nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 1rem;

    > a {
        display: flex;
    }
}

form {
    > div {
        margin-bottom: 1rem;
    }
    
    .actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        a {
            font-size: 0.8rem;
        }
    }
}