<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}Finzerb{% endblock %}</title>
  <meta name="description" content="Filtrer des playlists spotify par dates.">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%2210 0 100 100%22><text y=%22.90em%22 font-size=%2290%22>🗓</text></svg>">
</head>

<body>
  <main>
    {% block main %}
    {% block header %}
    <hgroup>
      <h1>{% block header_title %}Finzerb{% endblock %}</h1>
      <p>{% block header_subtitle %}{% endblock %}</p>
    </hgroup>
    {% endblock header %}
    {% for message in messages %}
    <dialog class="{{ message.tags }}" open>
      <p>{% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}</p>
      <form method="dialog">
        <button>OK</button>
      </form>
    </dialog>
    {% endfor %}

    {% block content %}
    {% endblock content %}
    {% block footer %}
    <footer>
      <nav>
        <a href="https://gitlab.com/cnrdck/finzerb">Voir le code source</a>
        {% if is_authenticated %}
        <a href="{% url 'logout' %}">Déconnexion</a>
        {% endif %}
      </nav>
    </footer>
    {% endblock footer %}
    {% endblock main %}
  </main>
</body>

</html>