{% extends "base.html" %}
{% block title %}Réglages | Finzerb{% endblock %}
{% block header_title %}Réglages{% endblock %}
{% block header_subtitle %}Choix des playlists et des filtres par date.{% endblock %}
{% block content %}
<form method="post">
  {{ form }}
  {% csrf_token %}
  <div class="actions">
    <button type="submit">Valider</button>
    <a href="{% url "home" %}">Retour</a>
  </div>
</form>
{% endblock content %}