{% extends "base.html" %}
{% block title %}Finzerb{% endblock %}
{% block header_title %}Finzerb{% endblock %}
{% block header_subtitle %}Filtrer des playlists spotify par dates.{% endblock %}
{% block content %}
<p>J'avais envie de retrouver dans mes playlists « les morceaux likés en 2022 » ou
  « mes morceaux de 1989 préférés ». Spotify ne permet pas de le faire directement
  (car on a pas la date de sortie dans les colonnes et on ne peut pas filtrer par date d'ajout) mais on peut s'y
  retrouver en passant par <a href="https://developer.spotify.com/documentation/web-api">l'API</a> (c'est pas évident
  pour tout le monde par contre).
</p>
<p>Cette application web rend ça simple (je crois) :</p>
<ol>
  <li>on se connecte à spotify</li>
  <li>on choisi les playlists sur lesquelles on veut chercher les morceaux</li>
  <li>on filtre par date(s) (sortie et/ou ajout)</li>
  <li>on créé une nouvelle playlist avec les morceaux</li>
</ol>
{% if is_authenticated %}
<a href="{% url "form" %}" role="button">Faire une playlist</a>
{% else %}
<form action="{{ form_action }}" method="get">
  {{ form }}
  <button>Connexion spotify</button>
</form>
{% endif %}
{% endblock content %}