{% extends "base.html" %}
{% block title %}Créer une playlist | Finzerb{% endblock %}
{% block header_title %}Créer une playlist{% endblock %}
{% block header_subtitle %}Avec les morceaux{% endblock %}
{% block content %}
<form method="post">
  {{ form }}
  {% csrf_token %}
  <div class="flex">
    <button type="submit">Valider</button>
    <a href="{% url "form" %}">Retour</a>
  </div>
</form>
{% endblock content %}